h1
{
font-family: 'Holtwood One SC', serif;
font-size: 40px;
}


h2
{
font-family: 'Arapey', serif;
font-size: 20px;
}


h3
{
font-family: 'Rozha One', serif;
font-size: 35px;
}


h4
{
font-family: 'Ultra', serif;
font-size: 30px;
}
